Repository M-Killer-dev/wordpress-perform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JustinyAhin, @felixarntz, @olliejones, @adamsilverstein, @getsource, @aristath, @sgomes, @tillkruss, @spacedmonkey, @mitogh, @kirtangajjar, @manuelRod, @pbearne, @westonruter

Add skeleton for detection script
  modules/images/image-loading-optimization/detect.js
  modules/images/image-loading-optimization/hooks.php
Owners: @westonruter

Update comment to reflect TTLB not TTFB
  modules/images/image-loading-optimization/hooks.php
Owners: @westonruter

Import module rather than inlining it
  modules/images/image-loading-optimization/detect.js
  modules/images/image-loading-optimization/hooks.php
Owners: @westonruter

WIP
  .eslintrc.js
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Improve logging and remove obsolete code
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

WIP2
  modules/images/image-loading-optimization/detect.js
  package-lock.json
  package.json
Owners: @westonruter

WIP3
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

WIP4
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Capture image breadcrumbs early; improve waiting for intersection observer
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Add getBreadcrumbedElements() function
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Add missing lint-js to lint-staged and update lint-js/format-js to find all JS files
  .eslintrc.js
  .gitignore
  package.json
Owners: none

Remove yet unused yieldToMain
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Update includes/classes/class-plugin-manager.php
  includes/classes/class-plugin-manager.php
Owners: none

Update includes/classes/class-plugin-manager.php
  includes/classes/class-plugin-manager.php
Owners: none

Update includes/classes/class-plugin-manager.php
  includes/classes/class-plugin-manager.php
Owners: none

Update includes/classes/class-plugin-manager.php
  includes/classes/class-plugin-manager.php
Owners: none

Update admin/load.php
  admin/load.php
Owners: @JustinyAhin, @felixarntz

Remove unnecesary void return docblock statement.
  admin/load.php
Owners: @JustinyAhin, @felixarntz

Update admin/load.php add conditional wrapper to wp_safe_redirect.
  admin/load.php
Owners: @JustinyAhin, @felixarntz

Rename admin script enqueue function and move into perflab_load_modules_page() function.
  admin/load.php
Owners: @JustinyAhin, @felixarntz

Dissolve Plugin_Manager class into standalone functions.
  admin/plugins.php
Owners: @JustinyAhin, @felixarntz

Remove autoloader require and replace prior method based plugin cards rendering with new standalone function calls.
  admin/load.php
Owners: @JustinyAhin, @felixarntz

Manually require new admin plugin files when admin, as opposed to prior autoload approach.
  load.php
Owners: none

Remove no longer required includes/classes directory and said contents.
  includes/classes/class-plugin-manager.php
Owners: none

Remove classmap property following removal of class based approach for plugin cards UI rendering.
  composer.json
Owners: none

Remove classmap property following removal of class based approach for plugin cards UI rendering.
  composer.json
Owners: none

Prevent detection if page is not scrolled to top
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Stop observing images as soon as scroll happens or detection is stopped
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Extend observation to elements with background images
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Leverage Map
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Assemble page metrics to send; remove unneeded attribution build
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Remove unused getElementBreadcrumbsMap
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Remove obsolete cleanup code
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Move logic into getElementIndex helper function
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Use 3rd person singular for jsdoc
  modules/images/image-loading-optimization/detect.js
Owners: @westonruter

Add initial REST API endpoint for storing page metrics
  modules/images/image-loading-optimization/detect.js
  modules/images/image-loading-optimization/hooks.php
  modules/images/image-loading-optimization/load.php
  modules/images/image-loading-optimization/rest-api.php
Owners: @westonruter

Split standalone plugin activation and deactivation into standalone admin_action_hook callbacks with valid nonce checks.
  admin/load.php
Owners: @JustinyAhin, @felixarntz

Clean up activate and deactivate link generation.
  admin/plugins.php
Owners: @JustinyAhin, @felixarntz

Clean up string concat for plugin action nonce checks.
  admin/load.php
Owners: @JustinyAhin, @felixarntz

Add admin/plugins.php to tests bootstrap.
  tests/bootstrap.php
Owners: none

.github/CODEOWNERS:

# Documentation/Infrastructure
/admin                                      @JustinyAhin @felixarntz
/tests/admin                                @JustinyAhin @felixarntz
/bin                                        @JustinyAhin @felixarntz
/.github                                    @JustinyAhin @felixarntz

# Focus: Database
/modules/database                           @olliejones
/tests/modules/database                     @olliejones
/tests/testdata/modules/database            @olliejones

# Focus: Images
/modules/images                             @adamsilverstein @getsource
/tests/modules/images                       @adamsilverstein @getsource
/tests/testdata/modules/images              @adamsilverstein @getsource

# Focus: JS & CSS
/modules/js-and-css                         @aristath @sgomes
/tests/modules/js-and-css                   @aristath @sgomes
/tests/testdata/modules/js-and-css          @aristath @sgomes

# Focus: Measurement
/modules/measurement
/tests/modules/measurement
/tests/testdata/modules/measurement

# Focus: Object Cache
/modules/object-cache                       @tillkruss @spacedmonkey
/tests/modules/object-cache                 @tillkruss @spacedmonkey
/tests/testdata/modules/object-cache        @tillkruss @spacedmonkey

# Module: WebP Uploads
/modules/images/webp-uploads                                                @adamsilverstein @felixarntz @mitogh
/tests/modules/images/webp-uploads                                          @adamsilverstein @felixarntz @mitogh
/tests/testdata/modules/images/webp-uploads                                 @adamsilverstein @felixarntz @mitogh

# Module: WebP Support Health Check
/modules/images/webp-support                                                @adamsilverstein @kirtangajjar @mitogh
/tests/modules/images/webp-support                                          @adamsilverstein @kirtangajjar @mitogh
/tests/testdata/modules/images/webp-support                                 @adamsilverstein @kirtangajjar @mitogh

# Module: Autoloaded Options Health Check
/modules/database/audit-autoloaded-options                                  @manuelRod
/tests/modules/database/audit-autoloaded-options                            @manuelRod
/tests/testdata/modules/database/audit-autoloaded-options                   @manuelRod

# Module: Enqueued Assets Health Check
/modules/js-and-css/audit-enqueued-assets                                   @manuelRod
/tests/modules/js-and-css/audit-enqueued-assets                             @manuelRod
/tests/testdata/modules/js-and-css/audit-enqueued-assets                    @manuelRod

# Module: Dominant Color Images
/modules/images/dominant-color-images                                       @pbearne @spacedmonkey
/tests/modules/images/dominant-color-images                                 @pbearne @spacedmonkey
/tests/testdata/modules/images/dominant-color-images                        @pbearne @spacedmonkey

# Module: Image Loading Optimization
/modules/images/image-loading-optimization                                  @westonruter
/tests/modules/images/image-loading-optimization                            @westonruter
/tests/testdata/modules/images/image-loading-optimization                   @westonruter
